* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
body {
    background-color: #f7f7f7;
}

.header img {
    border-radius: 50%;
    box-shadow: 10px 11px 20px #e6e6e6;
    margin-top: 30px;
}

.box_progress {
    background-color: #fefefe;
    box-shadow: 2px 4px 6px #e6e6e6;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 10px;
    width: 320px;
}

.text_box{
    color: #093d8a;
    font-weight:bold !important ;
    text-align: center;
}
